# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\OneDrive - dei.uc.pt\Universidade\3_ano\2_semestre\SD\Fichas\Ficha6_WebProgramming\Hey\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
